<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PayMapper">
	<select id="getLoginUserSeqno" parameterType="JSONObject" resultType="Long">
		SELECT
			COALESCE( U.USER_SEQNO, 0 ) AS USER_SEQNO
		FROM
			(
				SELECT 
					COUNT(1),
					USER_SEQNO
				FROM
					TB_USER
				WHERE 
					USER_ID = #{userId}
				AND SVC_GB = #{svcGb}
				AND PWD = #{pwd}
			) U
	</select>

	<insert id="registerPay" parameterType="JSONObject">
		INSERT INTO TB_PAYMENT
			(
			 	USER_SEQNO,
			 	PAY_ITEM_SEQNO,
			 	PAY_AMT,
			 	REG_DTTM
			 )
		VALUES
		    (
				#{userSeqno},
				#{payItemSeqno},
				#{payAmt},
		    	NOW()
		    )
		<selectKey keyProperty="paySeqno" resultType="Long" order="AFTER">
			SELECT
			    MAX( PAY_SEQNO ) AS PAY_SEQNO
			FROM
			    TB_PAYMENT
		</selectKey>
	</insert>

	<insert id="registerPayImage" parameterType="JSONObject">
		INSERT INTO TB_PAYMENT_FILE
			(
			 	PAY_SEQNO,
			 	IMG_URL
			 )
		VALUES
		    (
				#{paySeqno},
				#{imgUrl}
		    )
	</insert>

</mapper>